<%- include('../partials/header') %>

<section id="dream-item" class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="title-box text-center">
        <h1><%= name %>'s Dreams </h1>
        <p class="subtitle-a">
          Tracking where you stand when you sleep
        </p>
        <% if (dreams.length) { %>
        <canvas id="dream-plot-chart" width="400" height="125"></canvas>
        <% }  else {%>
        <div class="line"></div>
        <br>
        <a href="/dreams/new" id="btn-landing" class="btn"> Add your first dream!</a>
        <% }  %>
      </div>
    </div>
  </div>
  <% dreams.forEach(function(d) { %>
  <div class="row" id="all-dream-boxes">
    <div class="col-md-4">
      <div class="dream-box">
        <form action="/dreams/<%= d.id %>?_method=DELETE" id="delete-form" method="POST">
          <button id="x-btn" type="submit">X</button>
        </form>
        <a href="/dreams/<%= d._id %>?_method=SHOW">
          <div class="dream-details">
            <div class="row">
              <div class="col-sm-8">
                <time id="cal" class="icon">
                  <div id="year"><%= (d.date ).toString().slice(10, 16) %></div>
                  <div id="day"> <%= (d.date ).toString().slice(4, 8) %></div>
                  <div id="month"><%= (d.date ).toString().slice(8, 10) %></div>
                </time> <br>
                <div class="dream-more-details">
                  <% if (d.score > 0.4) { %>
                  <span id="postive">Positive
                    <% } else if (d.score < -0.3){ %>
                    <span id="negative"> Negative
                      <% } else  { %>
                      <span id="neutral">Neutral
                        <% } %> Dream
                        / <%= d.hoursSlept %> Hours Slept</span>
                      <span class="key-words"><br>Keywords: <%= d.keyWords.join(", ") %></span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <% }); %>
    <% if (dreams.length) { %>
    <div class="row" id="all-dream-boxes">
      <div class="col-md-4">
        <div class="dream-box">
          <div class="dream-details">
            <div class="row">
              <div class="col-sm-8">
                <a href="/dreams/new" class="btn btn-primary btn-new "> Add another dream </a>
                <% }  %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<script>
  var ctx2 = document.getElementById('dream-plot-chart').getContext('2d');
  var myChart = new Chart(ctx2, {
    type: 'line',
    data: {
      labels: [<% dreams.forEach(function (d) {  %><%= ((d.date).getMonth() + 1) %><%= ((d.date).getDate()) %>,<% }); %>],
    datasets: [{
      label: 'Hours slept',
      data: [<% dreams.forEach(function (d) {  %><%= (d.hoursSlept) %>,<% }); %>],
    backgroundColor: [
      'rgba(33, 1, 84, 0.6)',
    ],
    borderColor: [
      'rgba(33, 1, 84, 0.7)',
    ],
    borderWidth: 1,
  }, {
    label: 'Positivity score',
    data: [<% dreams.forEach(function (d) {  %><%= (d.score) %>,<% }); %>],
    backgroundColor: [
      'rgba(159, 215, 234, 1)',
    ],
    borderColor: [
      'rgba(159, 200, 234, 1.9)',
    ],
    borderWidth: 1,
    },
  ]
      },
  options: {
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero: true
        }
      }]
    }
  }
  });
</script>

<%- include('../partials/footer') %>